body{
    width: 100%;
    height: 100%;
}
.event{
    width: 100%;
    height: 400px;
    background: url(../images/event.jpg ) no-repeat center/cover;
    filter: brightness(50%);
    

    .inner{

        h2{
            position: absolute;
            top: 45%;
            left: 42%;
            filter: none;

    
            a{
                display: block;
                text-align: center;
                padding: 50px 100px;
                border-bottom: 1px solid #fff;
                color: #fff;
                font: bold 30px/1 '맑은 고딕';
            }
        }
    }
}
select{
    display: block;
    margin: 50px;
    padding: 5px 20px;

}

.event_wrap{
    width: 1000px;
    height: 2000px;
    background-color: rgba(246, 122, 122, 0.2);
    box-shadow: 10px 5px 10px rgba(53, 33, 1, 0.5);
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    margin-bottom: 300px;

    .circle{
        width: 800px;
        height: 1500px;
        background-color: #fff;
        border-radius: 500px 500px 0 0 ;
        position: absolute;
        top: 5%;
        left: 10%;

        img{
            position: absolute;
            top: 10%;
            left: 40%;
            object-fit: cover;
            width: 150px;
            height: 150px;
        }

        .event_title{
            position: absolute;
            top: 23%;
            left: 10%;
            text-align: center;
    
            h2{
                font: 900 60px/1 '맑은 고딕';
                padding-bottom: 20px;
               
            }
    
            h3{
                font: normal 40px/1 '맑은 고딕';
                margin-bottom: 15px;
            }
    
            p{
                font: normal 30px/1 '맑은 고딕';
                line-height: 40px;
                color: rgb(216, 137, 2);
            }
    
            .event_level{
                position: relative;
                top: 100%;
                left: 3%;
                width: 600px;
                height: 600px;
                object-fit: contain;
            }
        
            .event_box{
                position: absolute;
                top: 65%;
                left: -12.5%;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
    
            span{
                font: bold 20px/1 '맑은 고딕';
                position: absolute;
                top: 45%;
                left: 3%;
                right: 0;
                transform: translateY(-50%);
                text-align: center;
    
                &:nth-of-type(2){
                    position: absolute;
                    top: 60%;
                    left: 5%;
                }
    
                &:nth-of-type(3){
                    top: 74%;
                    left: 14%;
                }
    
                &:nth-of-type(4){
                    top: 89%;
                    left: 8%;
                }
    
                &:nth-of-type(5){
                    top: 93%;
                    left: 5%;
                    font: bold 15px/1 '맑은 고딕';
                    color: rgb(167, 18, 18);
                }
            }
            
        }
    }

    .event_notice{
        text-align: left;
        position: absolute;
        top: 82.5%;
        left: 10%;

        h2{
            font: bold 25px/1 '맑은 고딕';
            padding-bottom: 20px;
        }

        p{
            font: normal 18px/1 '맑은 고딕';
            line-height: 35px;
        }
    }




}