.history{
    font-size: 0;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(50%);
        position: relative;
        
    }

    .history_bg{
        width: 100vw;
        height: 1700px;
        background-color: #4a2f0d;
    }

    .inner{
        h2{
            position: absolute;
            top: 6%;
            left: 42%;
    
            a{
                display: block;
                text-align: center;
                padding: 50px 100px;
                border-bottom: 1px solid #fff;
                color: #fff;
                font: bold 30px/1 '맑은 고딕';
            }
        }
    }

      
      .history_contents {
        width: 100%;
        position: absolute;
        top: 17%;
        left: 0;

        >p{
          position: absolute;
          top: -3%;
          left: 25%;
          text-align: center;
          color: #fff;
          font: normal 15px/1 '맑은 고딕';
          line-height: 30px;
      }
      
        .inner {
          width: 1180px;
          margin: 50px auto;
          padding: 150px 20px;
          position: relative;
      
          .center-line {
            position: absolute;
            top: 150px;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 95%;
            background-color: #fff;
      
            .scroll-icon {
              position: absolute;
              bottom: 0px;
              left: 50%;
              transform: translateX(-50%);
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: #f2f2f2;
              font-size: 25px;
              text-align: center;
              line-height: 40px;
              color: rgb(151, 16, 16);
              box-shadow: 0 0 0 4px #4a2f0d, inset 0 2px 0 rgba(0, 0, 0, 0.08),
                0 3px 0 4px rgba(0, 0, 0, 0.05);
            }
          }
      
          .row {
            display: flex;
      
            section {
              background-color: #0000003f;
              border-radius: 5px;
              width: calc(50% - 40px);
              padding: 20px;
              position: relative;
      
              .details {
                display: flex;
                justify-content: space-between;
                align-items: center;
      
                .title {
                  font-size: 22px;
                  font-weight: 600;
                  color: rgb(251, 214, 214);
                  text-shadow: 0 0 15px #fff;
                }
              }
      
              p {
                margin: 10px 0 ;
                font-size: 15px;
                color: #fff;
              }
            }
          }
      
          .row-1 {
            justify-content: flex-start;
            text-align: right;
      
            section {

              p{
                text-align: right;
              }

                &::before {
                    content: "";
                    display: block;
                    width: 15px;
                    height: 15px;
                    border-top: 2px solid #fff;
                    border-right: 2px solid #fff;
                    border-radius: 2px;
                    position: absolute;
                    top: 30px;
                    transform: rotate(45deg);
                    z-index: 1;
                    box-shadow: 0 0 10px #fff;
                  }
                .details{
                    display: block;
                    text-align: right;
                }
      
              &::before {
                right: -7px;
              }
            }
          }
      
          .row-2 {
            justify-content: flex-end;
      
            section {
              p{
                text-align: left;
              }              

                &::before {
                    content: "";
                    display: block;
                    width: 15px;
                    height: 15px;
                    border-bottom: 2px solid #fff;
                    border-left: 2px solid #fff;
                    border-radius: 2px;
                    position: absolute;
                    top: 30px;
                    right: 50%;
                    transform: rotate(45deg);
                    z-index: 1;
                    box-shadow: 0 0 10px #fff;

                  }
      
              &::before {
                left: -7px;
              }
            }
          }
        }
      }
      


}

