.location {
    width: 100%;
    height: 400px;
    background: url(../../images/map/map.jpg) no-repeat center/cover;
    filter: brightness(50%);
    position: relative;
    
    .inner{

        h2{
            position: absolute;
            top: 45%;
            left: 42%;
            filter: none;

    
            a{
                display: block;
                text-align: center;
                padding: 50px 100px;
                border-bottom: 1px solid #fff;
                color: #fff;
                font: bold 30px/1 '맑은 고딕';
            }
        }
    }
}
.content{
    margin-bottom: 100px;
    #map {
        width: 1000px;
        height: 500px;
        border: 1px solid #000;
        margin-bottom: 20px;
        margin: 0 auto;
        margin-top: 100px;
    }

    &::after {
        content: '';
        display: block;
        clear: both;
    }

    .branch {
        float: right;
        margin-right: 500px;
        position: relative;

        li {
            float: left;

            a {
                display: block;
                width: 150px;
                height: 40px;
                background-color: #fff;
                font: bold 12px/40px "맑은 고딕";
                color: #333;
                text-align: center;
                border: 1px solid #555;
                margin-top: 50px;
            }

            &.on a {
                background-color: rgba(164, 11, 11, 0.918);
                color: #fff;
            }
        }

        #search-box {
            width: 500px; 
            height: 40px; 
            padding: 5px; 
            font-size: 16px; 
            position: absolute;
            top: 50px;
            right: 350px;
        }
    }
}